<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="CONSOLE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %replace(%msg){'(?i)(password|password_hash|token|authorization|api_key|secret)=[^,\\s}]+','$1=***'}%n%ex{short}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <logger name="com.integrador.sistemaincidencias" level="DEBUG"/>
        <logger name="org.springframework.security" level="INFO"/>
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!dev">
        <logger name="com.integrador.sistemaincidencias" level="INFO"/>
        <logger name="org.springframework" level="WARN"/>
        <logger name="org.springframework.security" level="WARN"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
